In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import os
import requests
import pymongo

## NASA Mars News

In [42]:
url = 'https://mars.nasa.gov/news/'

In [43]:
response = requests.get(url)

In [46]:
soup = BeautifulSoup(response.text, 'lxml')

In [47]:
summary=soup.find('div', class_="image_and_description_container")
paragraph= summary.div.div.text
  
print(paragraph)

Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.

In [48]:
title=soup.find('div', class_='content_title')   
article_title = title.a.text
print(article_title)

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities

In [49]:
print(f'Title: {article_title}')
print(f'Paragraph: {paragraph}')

Title:
NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities

Paragraph:
Starting July 27, news activities will cover everything from mission engineering and science to returning samples from Mars to, of course, the launch itself.

 ## JPL Mars Space Images - Featured Image

In [87]:
url1='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [88]:
response1 = requests.get(url1)

In [89]:
soup1 = BeautifulSoup(response1.text, 'html.parser')

In [91]:
image = soup1.find('article')
#print(image)

image1= image.footer.a
#print(image1)

image2=image1['data-fancybox-href']
print(image2)

/spaceimages/images/mediumsize/PIA17462_ip.jpg

In [92]:
img_link = f'https://jpl.nasa.gov{image2}'

In [93]:
print(img_link)

https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA17462_ip.jpg

## Mars Weather

In [68]:
from splinter import Browser
from bs4 import BeautifulSoup

In [70]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [72]:
url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

html = browser.html
soup2 = BeautifulSoup(html, 'html.parser')

In [79]:
tweet = soup2.find('div', class_='css-1dbjc4n')
#print(tweet)

<div class="css-1dbjc4n r-13awgt0 r-12vffkv"><div class="r-1d2f490 r-u8s1d r-zchlnj r-ipm5af" id="layers" style="z-index: 1;"><div class="css-1dbjc4n r-aqfbo4 r-1p0dtai r-1d2f490 r-12vffkv r-1xcajam r-zchlnj"><div class="css-1dbjc4n r-12vffkv"><div class="css-1dbjc4n r-12vffkv"><div class="css-1dbjc4n r-urgr8i r-1upvrn0"><div class="css-1dbjc4n r-18u37iz r-1777fci r-zg41ew"><div class="css-1dbjc4n r-1awozwy r-18u37iz r-1wtj0ep r-33ulu8"><div class="css-1dbjc4n"><div class="css-901oao r-jwli3a r-1qd0xha r-1blvdjr r-vw2c0b r-ad9z0x r-bcqeeo r-qvutc0" dir="auto"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Don’t miss what’s happening</span></div><div class="css-901oao r-jwli3a r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-qvutc0" dir="auto"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">People on Twitter are the first to know.</span></div></div><div class="css-1dbjc4n r-1oy2gb8"><div class="css-1dbjc4n r-1awozwy r-1pz39u2 r-18u37iz r-16y2uox"><div class="css-1dbjc4n r-16y2uox"><a class="css-4rbku5 css-18t94o4 css-1dbjc4n r-1niwhzg r-11mg6pl r-sdzlij r-1phboty r-rs99b7 r-1loqt21 r-1w2pmg r-1vuscfd r-1dhvaqw r-1ny4l3l r-1fneopy r-o7ynqc r-6416eg r-lrvibr" data-focusable="true" data-testid="login" href="/login" role="button"><div class="css-901oao r-1awozwy r-jwli3a r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-vw2c0b r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0" dir="auto"><span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Log in</span></span></div></a></div><div class="css-1dbjc4n r-16y2uox r-1n0xq6e"><a class="css-4rbku5 css-18t94o4 css-1dbjc4n r-14lw9ot r-42olwf r-sdzlij r-1phboty r-rs99b7 r-1loqt21 r-1w2pmg r-1vuscfd r-1dhvaqw r-1ny4l3l r-1fneopy r-o7ynqc r-6416eg r-lrvibr" data-focusable="true" data-testid="signup" href="/i/flow/signup" role="button"><div class="css-901oao r-1awozwy r-13gxpu9 r-6koalj r-18u37iz r-16y2uox r-1qd0xha r-a023e6 r-vw2c0b r-1777fci r-eljoum r-dnmrzs r-bcqeeo r-q4m81j r-qvutc0" dir="auto"><span class="css-901oao css-16my406 css-bfa6kz r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"><span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">Sign up</span></span></div></a></div></div></div></div></div></div></div></div></div></div><div class="css-1dbjc4n r-18u37iz r-13qz1uu r-417010" style="min-height: 888px;"><header class="css-1dbjc4n r-obd0qt r-16y2uox r-1g40b8q" role="banner"><div class="css-1dbjc4n r-f9dfq4"><div class="css-1dbjc4n r-aqfbo4 r-1pi2tsx r-1xcajam r-ipm5af"></div></div></header><main class="css-1dbjc4n r-1habvwh r-16xksha r-1wbh5a2" role="main"><div class="css-1dbjc4n r-150rngu r-16y2uox r-1wbh5a2 r-33ulu8"><div class="css-1dbjc4n r-16y2uox"><div class="css-1dbjc4n r-1iusvr4 r-16y2uox r-1777fci"><div aria-label="Loading" aria-valuemax="1" aria-valuemin="0" class="css-1dbjc4n r-1awozwy r-1777fci" role="progressbar"><div class="css-1dbjc4n r-17bb2tj r-1muvv40 r-127358a r-1ldzwu0" style="height: 26px; width: 26px;"><svg height="100%" viewbox="0 0 32 32" width="100%" xmlns="http://www.w3.org/2000/svg"><circle cx="16" cy="16" fill="none" r="14" stroke-width="4" style="stroke: rgb(29, 161, 242); opacity: 0.2;"></circle><circle cx="16" cy="16" fill="none" r="14" stroke-width="4" style="stroke: rgb(29, 161, 242); stroke-dasharray: 80; stroke-dashoffset: 60;"></circle></svg></div></div></div></div></div></main></div></div>

In [76]:
tweet1 = soup2.find('span', {'class':'css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0'})
print(tweet1.text)

Don’t miss what’s happening

In [63]:
tweet = soup2.find('div', class_='css-1dbjc4n')
print(tweet)

<div class="css-1dbjc4n r-13awgt0 r-12vffkv"><div class="css-1dbjc4n r-13awgt0 r-12vffkv"><div aria-label="Loading…" class="css-1dbjc4n r-14lw9ot r-1p0dtai r-1d2f490 r-1xcajam r-zchlnj r-ipm5af"><svg class="r-1p0dtai r-13gxpu9 r-4qtqp9 r-yyyyoo r-wy61xf r-1d2f490 r-ywje51 r-dnmrzs r-u8s1d r-zchlnj r-1plcrui r-ipm5af r-lrvibr r-1blnp2b" viewbox="0 0 24 24"><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg></div><div class="css-1dbjc4n r-hvic4v r-1d2f490 r-1xcajam r-zchlnj r-1ykxob0" id="ScriptLoadFailure"><form action="" method="GET"><div class="css-901oao r-1adg3ll r-1b2b6em r-q4m81j" dir="auto"><span class="css-901oao css-16my406" dir="auto">Something went wrong, but don’t fret — let’s give it another shot.</span><br/><input name="failedScript" type="hidden" value=""/><input type="submit" value="Try again"/></div></form></div></div></div>

In [64]:
tweet1 = soup2.find('span')
print(tweet1)

#{'class':'css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0'}

<span class="css-901oao css-16my406" dir="auto">Something went wrong, but don’t fret — let’s give it another shot.</span>

 ## Mars Facts

In [101]:
import pandas as pd

In [102]:
url3 = 'https://space-facts.com/mars/'

In [103]:
tables = pd.read_html(url3)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [104]:
df = tables[0]
df.columns = ['Attributes','']
df

             Attributes
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [105]:
df.set_index('Attributes')

Attributes
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [106]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Attributes</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [107]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Attributes</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [108]:
 df.to_html('table.html')

## Mars Hemispheres

In [46]:
url4="https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
response4 = requests.get(url4)
soup4=BeautifulSoup(response4.text, 'html.parser')

In [47]:
download = soup4.find_all('div', class_='downloads')

for li in download:
    mars_img1=li.a
    mars_img1= mars_img1['href']
    
title = soup4.find('h2', class_='title')
title1= title.text

print (title1)
print (mars_img1)

Cerberus Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [48]:
url5="https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced"
response5 = requests.get(url5)
soup5=BeautifulSoup(response5.text, 'html.parser')

In [49]:
hemisphere_image_urls = []
dict_url_img = {}

In [50]:
download = soup5.find_all('div', class_='downloads')

title2 = soup5.find('h2', class_='title')
title2= title2.text
dict_url_img['title']=title2

for li in download:
    mars_img2=li.a
    mars_img2= mars_img2['href']
  

    print (title2)
    print (mars_img2)

Schiaparelli Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg

In [51]:
url6="https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced"
response6 = requests.get(url6)
soup6=BeautifulSoup(response6.text, 'html.parser')

In [54]:
download6 = soup6.find_all('div', class_='downloads')

title3 = soup6.find('h2', class_='title')
title3= title3.text


for li in download:
    mars_img3=li.a
    mars_img3= mars_img3['href']

    
    print (title3)
    print (mars_img3)

Syrtis Major Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg

In [25]:
url7="https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced"
response7 = requests.get(url7)
soup7=BeautifulSoup(response7.text, 'html.parser')

In [26]:
download7 = soup7.find_all('div', class_='downloads')

for li in download:
    mars_img4=li.a
    mars_img4= mars_img4['href']
    
title4 = soup7.find('h2', class_='title')
title4= title4.text

print (title4)
print (mars_img4)

Valles Marineris Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg

In [ ]:
hemisphere_image_urls

In [ ]:
print(hemisphere_image_urls)

In [ ]:
    prcp_list = []
    for date, prcp in results:
        prcp_dict = {}
        prcp_dict["date"] = date
        prcp_dict["prcp"] = prcp
        prcp_list.append(prcp_dict)