In [1]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import os
import requests
import pymongo

## NASA Mars News

In [5]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)


browser.is_element_present_by_css("ul.item_list li.slide", wait_time = 1)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:
try:
    paragraph=soup.find_all('li', class_='slide')[0].a.text
    title=paragraph.find_all('div', class_ = "content_title")[0].a
    
except AttributeError:
    pass

print(title)
print(paragraph)

NASA Engineers Checking InSight's Weather Sensors
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.NASA Engineers Checking InSight's Weather Sensors

In [5]:
summary=soup.find('div', class_='list_text')

title=summary.find('div', class_='content_title')
title= title.text

paragraph=summary.find('div', class_='article_teaser_body')
paragraph= paragraph.text

print(title)
print(paragraph)

NASA Engineers Checking InSight's Weather Sensors
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.

In [ ]:
print(f'Title: {title}')
print('-----------------------------------------------------------------------------')
print(f'Paragraph: {paragraph}')

 ## JPL Mars Space Images - Featured Image

In [5]:
url1='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [6]:
response1 = requests.get(url1)

In [7]:
soup1 = BeautifulSoup(response1.text, 'html.parser')

In [10]:
image = soup1.find('article')
image1= image.footer.a
img_jpl=image1['data-fancybox-href']
print(img_jpl)

/spaceimages/images/mediumsize/PIA18791_ip.jpg

In [11]:
img_link = f'https://jpl.nasa.gov{img_jpl}'

In [12]:
print(img_link)

https://jpl.nasa.gov/spaceimages/images/mediumsize/PIA18791_ip.jpg

## Mars Weather

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [16]:
url2 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url2)

browser.is_element_present_by_tag('body div.css-1dbjc4n', wait_time = 1)

html = browser.html
soup2 = BeautifulSoup(html, 'html.parser')

In [32]:
twitter_body = soup2.body
twitter_div=twitter_body.find('div', class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0')
weather_tweet=twitter_div.find('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0').text

InSight sol 611 (2020-08-15) low -93.8ºC (-136.9ºF) high -15.9ºC (3.4ºF)
winds from the WNW at 7.3 m/s (16.3 mph) gusting to 17.9 m/s (40.2 mph)
pressure at 7.90 hPa

 ## Mars Facts

In [26]:
import pandas as pd

In [27]:
url3 = 'https://space-facts.com/mars/'

In [36]:
tables = pd.read_html(url3)[0]
facts_table1 = tables.to_html()

In [28]:
tables = pd.read_html(url3)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [29]:
df = tables[0]
df.columns = ['Attributes','']
df

             Attributes
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
df.set_index('Attributes')

Attributes
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [46]:
facts_table = df.to_html()
print(facts_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Attributes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [21]:
url4 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url4)
soup3 = BeautifulSoup(browser.html, 'html.parser')

In [22]:
title_list=[]
titles = soup3.find_all('h3')
for title in titles:
    title_list.append(title.text)

In [23]:
images_list=[]
count=0
for link in title_list:
    browser.find_by_css('img.thumb')[count].click()
    images_list.append(browser.find_by_text('Sample')['href'])
    browser.back()
    count=count+1

hemisphere_image_urls = []
counter = 0
for item in images_list:
    hemisphere_image_urls.append({"Title":title_list[counter],"img_url":images_list[counter]})
    counter = counter+1

In [24]:
print(hemisphere_image_urls)

[{'Title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'Title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'Title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'Title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
mars_data = {"Title":mars_title, "Paragraph": mars_paragraph, "Featured_Image":img_link,
            "Weather":weather_tweet,"Facts":facts_table,"Hemispheres":hemisphere_image_urls}